.notif {
  position: fixed;
  top: 90px;
  right: 20px;
  background: #8b6f47;
  color: white;
  padding: 15px 25px;
  border-radius: 15px;
  display: none;
  z-index: 999;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
